################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MyHTML/.vs/MyHTML.slnx/FileContentIndex
/MyHTML/.vs
/CSarpSorce/csh/.vs
CSarpSorce/File String Encrypt/.vs/File String Encrypt/FileContentIndex/758574c7-8e0c-436b-a0d1-39197efed8ad.vsidx
