################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MyHTML/.vs/MyHTML.slnx/FileContentIndex
/MyHTML/.vs
