body
{
background-color:aqua;
}
nav {
background-color:green;


}
nav li {
list-style:none;
margin-right:20px;
display:inline-block;

}
nav a {
    text-decoration:none;
}
nav #icon{
    
}
    nav img {
        margin-right:10px;
    }